h4
{
    color: green;
    background-color: aqua;
}
p
{
    color:green;
    text-transform: capitalize;
    text-indent: 40px;
    letter-spacing:1px;
    word-spacing: 5px;
    line-height:20px;
}
